/* Body */
body{
    font-family: 'Montserrat', sans-serif;
}
p{
    text-align: justify;
}
/* Container 00 */
.container00{
    margin: -2px 0px 0px 0px;
    padding: 0;
}
video {
    position: relative;
    width: 100%;
    height: 100%;   
}
.titlebackground{   
    color: #FFEAC4;
    padding: 70px 50px 0px 50px;
    margin: -1150px 0px 0px 0px;
    width: 100%;
    z-index: 1;
}
.txtbackground1{
    text-align: center;
    font-size: 100px;
    font-weight: 300;
    margin: 90px 0px 0px 0px;
}
.txtbackground2{
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin: 200px 0px 0px 0px;
}
/* Container 01*/
.container01{
    font-size: 40px;
    font-weight: 300;
    padding: 10px 20px;
    margin: -23px 0px 0px 0px;
}
p#txtc01{
    text-align: center;
}
/* Container 02 */
.container02{
    color: #000000;
    font-size: 21px;
    font-weight: 500;
    background: rgb(206,178,124);
    background: linear-gradient(180deg, rgba(206,178,124,0.8) 100%, rgba(0,0,0,0.8) 100%);
    padding: 20px 30px 5px 30px;
    margin: -20px 0px 0px 0px;
    height: auto;
}
p#txtc02a, p#txtc02b, p#txtc02c {
    color: #000000;
}
/* Container 03 */
.container03{
    font-size: 40px;
    font-weight: 300;
    padding: 0px 30px 10px 30px;
    margin: -20px 0px 0px 0px;
}
p#txtc03{
    text-align: center;
}
/* Container 04 */
.container04{
    text-align: center;
    color: rgba(255,255,255,1.00);
background: rgb(20,187,239);
background: linear-gradient(90deg, rgba(20,187,239,1) 0%, rgba(226,226,42,1) 100%);
    padding: 15px 0px 0px 0px;
    margin: -20px 0px 0px 0px;
}
p#txtc04a{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
img#master{
    box-shadow: 0 0px 60px #353535;
    border-radius:150px;
	border: 3px solid #FFFFFF;
	width: 100px;
	height: 100px;
}
p#txtc04b{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0px 10px 0px;
}
/* Container 05*/
.modulo1, .modulo2, .modulo3, .modulo4, .modulo5, .modulo6 {
    padding: 0px;
    margin: -20px 0px 0px 0px;
    width: 400px;
    height: 280px;
}
img{
    margin: 0;
    width: 100%;
    height: 100%;
}
.txtc05{
    position: absolute;
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0.5) 42%, rgba(206,178,124,0.4) 100%);
    margin: -280px 100px 100px 0px;
    width: 100%;
    height: 280px;
}
.titlemodulo{
    font-size: 25px;
    font-weight: 500;
    color: #CEB27C;
    margin: -15px 0px 0px 0px;
}
.fas.fa-user-circle{
    margin: 0px 50px 0px 0px;
}
.experto1, .experto2, .experto3, .experto4{
    color: #ceb27c;
    font-size: 24px;
    margin: 50px 0px 0px 50px;
}
.txtc05 ol li a{
    color: #ceb27c;
    font-size: 18px;
}
.txtc05 ol li a:hover{
    color: #14BBEF;
}

ol{
    color: #FFFFFF;
    font-size: 14px;
    margin: 15px -10px;
}
/* Container 06 */
.container06{
    color: #000000;
    background: rgb(206,178,124);
    background: linear-gradient(180deg, rgba(206,178,124,0.8) 100%, rgba(0,0,0,0.8) 100%);
    margin-top: -20px;
}
p#txtc06a{
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    margin: 0px 0px 20px 0px;
}
p#txtc06b{
    font-size: 20px;
    font-weight: 500;
    margin: 0px 20px 20px 20px;
}
/* Container 07 */
.container07{
    padding: 0px 30px 20px 30px;
    margin: -22px 0px 0px 0px;
    background: #ECAEAF;
}
h3#txtc07a{
    text-align: center;
}
h3#txtc07b{
    text-align: justify;
}
/* Container 08 */
.container08{
    color: #FFFFFF;
    background: rgba(6,6,6,1.00);
    text-align: center;
    padding: 20px;
    margin-top: -23px;
	width: 100%;
}
p#tc08{
    text-align: center;
}
img#logo{
	width: 100px;
	height: 150px;
}
