@media only screen and (min-width: 0px) and (max-width: 991px){
/* Navbar */
.nav-link#navbarDropdownMenuLink {
    font-size: 18px;
    background: #ceb27c;
    padding: 0px 0px 0px 30px;
	margin: -6px 0px 0px 0px;
    width: 100%;
}
.dropdown-menu#n01, .dropdown-menu#n02, .dropdown-menu#n03, .dropdown-menu#n04{
    margin: -10px 0px 0px 0px;
    width: 100%;
}
.dropdown-item{
    font-size: 15px;
    line-height: 1.5;
    white-space: normal;
    width: 100%;
    height: 60px;
}
.navbar{
    z-index: 100;
}
    
}
