@media only screen and (min-width : 769px ) and ( max-width : 1024px ){
.titlebackground{
    padding: 70px 50px 0px 50px;
    margin: -600px 0px 0px 0px;
}
.txtbackground1{
    font-size: 50px;
    margin: 20px 0px 0px 0px;
}
.txtbackground2{
    font-size: 40px;
    margin: 140px 0px 0px 0px;
}
/* Container 00 */
/* Container 01 */
/* Container 02 */
/* Container 03 */
/* Container 04 */
/* Container 05 */
/* Container 06 */
/* Container 07 */
/* Container 08 */
}
