@media only screen and (min-width: 0px) and (max-width: 414px){
.titletxt{
    font-size: 20px;
    margin: -90px 0px 0px 0px;
    height: 90px;
}
.txtimageopen34{
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    padding: 35px 0px 0px 0px;
    margin: -150px 0px 0px 0px;
}
	
}
