@media only screen and (min-width: 1025px) and (max-width: 1366px){
/* Container 00 */
/* Container 01 */
/* Imga */
.txtimageopen02{
    font-size: 20px;
    margin: 320px 0px 0px 0px;
}
.txtimageopen04{
    font-size: 20px;
    margin: 10px 0;
}
.txtimageopen05{
    font-size: 20px;
    margin: 25px 0;
}
/* Container 02 */
/* Container 03 */
/* Container 04 */
/* Container 05 */
/* Container 06 */
/* Container 07 */
/* Container 08 */	
}