@media only screen and (min-width: 1025px) and (max-width: 1366px){
/* Container 00 */
/* Container 01 */
/* Imga */
.txtimageopen02{
    font-size: 20px;
    margin: 320px 0px 0px 0px;
}
.txtimageopen04{
    font-size: 20px;
    margin: 10px 0;
}
.txtimageopen05{
    font-size: 20px;
    margin: 25px 0;
}
.container02b .card#c01 .face.face2 p#txtc02{
    font-size: 16px;
}
    
}