@media only screen and (min-width: 1025px) and (max-width: 1366px){
/* Title */
.titletxt {
    font-size: 50px;
    margin: -230px 0px 0px 0px;
    height: 230px;
}
/* Image */
.txtimageopen06{
    font-size: 20px;
    margin: 150px 0;
}
.txtimageopen07{
    font-size: 20px;
    margin: 170px 0;
}
.txtimageopen08{
    font-size: 20px;
    margin: 360px 0;
}
.txtimageopen09{
    font-size: 20px;
    margin: 215px 0;
}
.txtimageopen10{
    font-size: 20px;
    margin: 180px 0;
}
.txtimageopen11{
    font-size: 20px;
    margin: -120px -15px;
}
.txtimageopen12{
    font-size: 20px;
    margin: -120px -20px;
}
.txtimageopen13{
    font-size: 20px;
    margin: 80px 0;
}
.txtimageopen14{
    font-size: 20px;
    margin: 220px 0;
}
/* Container 00 */
/* Container 01 */
/* Container 02 */
/* Container 03 */
/* Container 04 */
/* Container 05 */
/* Container 06 */
/* Container 07 */
/* Container 08 */	
}