@media only screen and (min-width : 769px ) and ( max-width : 1024px ){
/* Title */
img#tb05{
    height: 200px;
}
.titletxt{
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 60px;
    margin: -200px 0px 0px 0px;
    height: 200px;
}
/* Container 00 */
/* Container 01 */
.txtimageopen20{
    font-size: 20px;
    padding: 45px 10px 0px 10px;
    margin: -150px 0px 0px 0px;
}
/* Container 02 */
/* Container 03 */
/* Container 04 */
/* Container 05 */
/* Container 06 */
/* Container 07 */
/* Container 08 */	
}
