@media only screen and (min-width : 769px ) and ( max-width : 1024px ){
/* Title */
    .titletxt{
        color: #FFFFFF;
        font-size: 50px;
        margin: -200px 0px 0px 0px;
        height: 200px;
    }
/* Container 00 */
/* Container 01 */
/* Container 02 */
/* Container 03 */
/* Container 04 */
/* Container 05 */
/* Container 06 */
/* Container 07 */
/* Container 08 */
}
