@media only screen and (min-width : 769px ) and ( max-width : 1024px ){
/* Title */
img#tb07{
    width: 100%;
    height: 100%;
}
.titletxt{
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 50px;
    margin: -210px 0px 0px 0px;
    height: 210px;
}
.card-header .fas.fa-plus-circle{
    color: #6C6C6C;
    justify-content: flex-end;
    display: flex;
    margin: -21px 0px 10px 180px;
    height: 100%;
}

}
