@media only screen and (min-width: 415px) and (max-width: 768px){
/* Title */
    .titletxt{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 40px;
    margin: -150px 0px 0px 0px;
    height: 150px;
}

/*Title Nav Container*/
.titlenavcontainer{
    font-weight: 300;
    font-size: 30px;
}
    .txthoverc02a#txth02c{
        font-size: 13px;
    }
/* Container 00 */
/* Container 01 */
/* Container 02 */
/* Container 03 */
/* Container 04 */
/* Container 05 */
/* Container 06 */
/* Container 07 */
/* Container 08 */	
}
