/*Body*/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
p.titletxt{
    text-align: center;
    font-weight: 400;
    font-size: 70px;
}
p.subtitletxt{
    font-weight: 300;
    font-size: 20px;
}
p{
    text-align: justify;
	font-weight: 500;
    font-size: 16px;
    padding: 15px 15px 10px 15px;
}
.card{
	box-shadow: 0 5px 30px #000000;
    padding: 0px;
}
.card-body{
    text-align: justify;
    padding: 5px;
}
.card-text{
    border-left-width: 8px;
	border-color: #FCA615;
	border-left-style: solid;
	background: #FFFFFF;
}

/* Title */
.title{
    color: #FFEAC4;
    padding: 0;
    margin: 0px 0px 0px 0px;
    width: auto;
    height: auto;
}
.titletxt{
    text-align: center;
    color: #FFEAC4;
    font-weight: 400;
    font-size: 80px;
    margin: -240px 0px 0px 0px;
    height: 230px;
}
/*Acordion*/
.card-header#heading1, .card-header#heading2, .card-header#heading3, .card-header#heading4, .card-header#heading5, .card-header#heading6 {
    border-left-width: 8px;
	border-color: #FCA615;
	border-left-style: solid;
	background: #FFFFFF;
}
.card#accordion1, .card#accordion2, .card#accordion3, .card#accordion4, .card#accordion5, .card#accordion6 {
	background: #F5F5F5;
	margin: 0;
}
.card-header .fas.fa-plus-circle{
    color: #6C6C6C;
    justify-content: flex-end;
    display: flex;
    margin: -21px 0px 10px 0px;
}

/*Container 01*/
.container01{
    justify-content: center;
    margin: -20px 0px 0px 0px;
}

/* Container 01a */
.container01a{
    padding: 0;
    margin: 10px 0;
    
}
/* Container 01b */
.container01b{
    padding: 0px;
    margin: 10px 0px;
    height: 100%;
    z-index: 1;
}
.txt01b{
  text-align: center;
}

/* Container 01c */
.container01c{
    height: 231px;
}
.imageopen01{
    background: url("../../image/gif/00.gif") repeat;
}

