/*Body*/
body{
    font-family: 'Montserrat', sans-serif;
}
p{
	font-weight: 500;
    text-align: justify;
    padding: 15px 15px 10px 15px;
}
p.title{
    font-weight: 200;
    font-size: 22px;
}
p.subtitle{
    font-weight: 300;
    font-size: 20px;
}
.card{
	box-shadow: 0 5px 30px #000000;
    padding: 0px;
}
.card-body{
    text-align: justify;
    padding: 5px;
}
.card-text{
    border-left-width: 8px;
	border-color: #E3244F;
	border-left-style: solid;
	background: #FFFFFF;
}

/* Title */
.titlebackground{
    margin: 0px 0px 0px 0px;
}
img#tb08{
    width: 100%;
    height: 100%;
}
.titletxt{
    text-align: center;
    color: #FFEAC4;
    font-weight: 400;
    font-size: 80px;
    margin: -230px 0px 0px 0px;
    height: 230px;
}

/*Acordion*/
.card-header#heading1, .card-header#heading2, .card-header#heading3, .card-header#heading4, .card-header#heading5, .card-header#heading6{
    border-left-width: 8px;
	border-color: #FCA615;
	border-left-style: solid;
	background: #FFFFFF;
}
.card#accordion1, .card#accordion2, .card#accordion3, .card#accordion4, .card#accordion5, .card#accordion6{
	background: #F5F5F5;
    margin: 0px;
}
.card-header .fas.fa-plus-circle{
    color: #6C6C6C;
    justify-content: flex-end;
    display: flex;
    margin: -21px 0px 10px 0px;
    height: 100%;
}

/* Container 00 */
.container00a{
    box-shadow: 0 15px 40px #353535;
}
/* Container 01 */
/* Container 02 */
/* Container 03 */
/* Container 04 */
/* Container 05 */
/* Container 06 */
/* Container 07 */
/* Container 08 */
