@media only screen and (min-width: 415px) and (max-width: 768px){
.titletxt{
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 30px;
    margin: -140px 0px 0px 0px;
    height: 140px;
}
.txthhb{
    font-size: 13.5px;
}

.hoverhorizontal{
    width: 400px;
    height: 460px;
}
/*Hover Flip */
.flip-box {
  background-color: transparent;
  width: 400px;
  height: 460px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box#HHC{
    margin: 0px 0px 0px 108px;
}
    
}