@media only screen and (min-width: 415px) and (max-width: 768px){
/* Title */
p.titletxt{
    font-size: 30px;
    margin: -120px 0px 0px 0px;
    height: 120px;
}
/* Container 01c */
.container01c{
    height: 200px;
}
/* Img 01 */
.imageopen01{
    margin: -15px 0px 0px 0px;
    height: 130px;
}   
.txtimageopen01{
    font-size: 40px;
    margin: -85px 0px 0px 0px;
}
}