@media only screen and (min-width: 415px) and (max-width: 768px){
/* Title */
    .titletxt{
        text-align: center;
        -webkit-text-stroke: 0px #FFFFFF;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 30px;
        margin: -140px 0px 0px 0px;
        height: 140px;
    }
/* Container 00 */
/* Container 01 */
/* Container 02 */
/* Container 03 */
/* Container 04 */
/* Container 05 */
/* Container 06 */
/* Container 07 */
/* Container 08 */	
}

