@media only screen and (min-width: 415px) and (max-width: 768px){
/* Title */
    .titletxt{
        -webkit-text-stroke: 0px #E3244F;
        color: #FFFFFF;
        font-size: 40px;
        margin: -130px 0px 0px 0px;
        height: 130px;
    }
/* Container 00 */
/* Container 01 */
/* Container 02 */
/* Container 03 */
/* Container 04 */
/* Container 05 */
/* Container 06 */
/* Container 07 */
/* Container 08 */	
}
