@media only screen and (min-width: 415px) and (max-width: 768px){
/*Body*/
p.titletxt{
    text-align: center;
    font-size: 25px;
}
/* Title */
.title{
    margin: -115px 0px 0px 0px;
    height: 115px;
}
/* Container 01c */
.container01c{
    height: 200px;
}
/* Img 01 */
.imageopen01{
    margin: -15px 0px 0px 0px;
    height: 130px;
}   
.txtimageopen01{
    font-size: 40px;
    margin: -85px 0px 0px 0px;
}
}