@media only screen and (min-width: 0px) and (max-width: 414px){    
/* Title */
.titletxt{
    font-size: 20px;
    margin: -85px 0px 0px 0px;
    height: 85px;
}
/* Image */
.txtimageopen01{
    font-size: 25px;
    margin: -100px 0px 0px 0px;
}    
/* Container 01c */
.container01c{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 220px;
}

    
}
