@media only screen and (min-width: 0px) and (max-width: 414px){
/* Title */
    .titletxt{
        color: #FFFFFF;
        font-size: 20px;
        margin: -70px 0px 0px 0px;
        height: 70px;
    }
/* Container 00 */
.txtimageopen28{
    font-size: 25px;
    padding: 40px 10px 0px 10px;
    margin: -150px 0px 0px 0px;
}
/* Container 01 */
/* Container 02 */
/* Container 03 */
/* Container 04 */
/* Container 05 */
/* Container 06 */
/* Container 07 */
/* Container 08 */	
}
