@media only screen and (min-width: 0px) and (max-width: 414px){    
/*Body*/
p.titletxt{
    text-align: center;
    font-size: 14px;
}
/* Title */
.title{
    margin: -65px 0px 0px 0px;
    height: 65px;
}
/* Image */
.txtimageopen01{
    font-size: 25px;
    margin: -75px 0px 0px 0px;
}    
/* Container 01c */
.container01c{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 256px;
}

    
}
